:root {
  --color-text: #757575;
  --color-title: #212121;
  --color-accent: #2196f3;
  --color-main: #ffffff;
  --color-footer: #2f303a;
  --color-background: #f5f4fa;
}
body {
  font-family: Roboto, sans-serif;
}
a {
  text-decoration: none;
  cursor: pointer;
  font-style: normal;
}
.container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
  text-align: center;
}
/* ============= HEADER =========*/
.page-header {
  display: flex;
  align-items: center;
}
.site-nav {
  display: flex;
  align-items: center;
}
.text-decoration {
  list-style: none;
  padding: 0;
  margin: 0;
}
.header-section {
  background-color: var(--color-main);
  letter-spacing: 0.02em;
}
.logo-nav {
  font-family: "Raleway", sans-serif;
  color: var(--color-accent);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;

  margin-right: 93px;
}
.site-nav .logo-nav {
  margin-top: 24px;
  margin-bottom: 25px;
}
.nav-contacts {
  color: var(--color-title);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2;
  padding-bottom: 32px;
  padding-top: 32px;
}
.nav-contacts:hover,
.nav-contacts:focus {
  color: var(--color-accent);
}
.navigation {
  display: flex;
  padding-left: 0px;
}
.nav-site:not(:last-child) {
  margin-right: 50px;
}
.info {
  color: var(--color-text);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2;
}
li > .info {
  color: rgba(255, 255, 255, 0.6);
}
.adres {
  margin-left: auto;
  display: flex;
}
.adres-item .nav-contacts {
  color: var(--color-text);
}
.adres-item:not(:last-child) {
  margin-right: 50px;
}
.accent-studio {
  color: var(--color-accent);
}
.accent-header {
  color: var(--color-title);
}

/* ============= END HEADER =========*/

/* ============= HERO =========*/
.main-section {
  background-color: var(--color-footer);
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
}
.main-title {
  color: var(--color-main);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.5;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  margin-bottom: 30px;
  margin-top: 0;
}
.button-hero {
  color: var(--color-main);
  background-color: var(--color-accent);
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  cursor: pointer;

  border-radius: 4px;
  padding: 10px 32px;
  min-width: 200px;
  border-color: var(--color-accent);
}

/* ============= END HERO =========*/

/* ============= ABOUT =========*/
.skiils-container {
  padding-bottom: 94px;
  padding-top: 94px;
}

.skillsteam {
  display: flex;
  text-align: start;
}
.skills-group:not(:last-child) {
  margin-right: 30px;
}
.skills-group {
  width: 270px;
}
.title-aboutme {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;

  margin-bottom: 10px;
  margin-top: 0;
}
.text-aboutme {
  color: var(--color-text);
  font-size: 14px;
  line-height: 1.2;
  font-weight: 400;
  letter-spacing: 0.03em;
  margin: 0;
}

/* ============= END ABOUT =========*/

/* ============= SERVICES =========*/
.title-work {
  color: var(--color-title);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.3;

  text-align: center;
  margin-bottom: 50px;
  margin-top: 0;
}
.what-we-doing {
  padding-bottom: 94px;
}
.list-foto:not(:last-child) {
  margin-right: 30px;
}
.main-foto {
  display: flex;
}

/* ============= END SERVICES =========*/

/* ============= ADVANTAGES =========*/
.team {
  background-color: var(--color-background);
  padding-top: 94px;
  padding-bottom: 94px;
}
.name-team {
  color: var(--color-title);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  margin: 0;
  padding-bottom: 10px;
}
.team-project-img {
  padding-bottom: 30px;
}
.my-team {
  display: flex;
}
.team-project {
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}
.team-project:not(:last-child) {
  margin-right: 30px;
}
.teams-work {
  color: var(--color-text);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.2;
  margin: 0;
  padding-bottom: 30px;
}

/* ============= END ADVANTAGES =========*/

/* ============= FOOTER =========*/
.footer-section {
  background-color: var(--color-footer);
  letter-spacing: 0.03em;
}
.logo-footer {
  margin-bottom: 20px;
}
.info-footer:not(:last-child) {
  margin-bottom: 9px;
}
.adres-footer {
  font-size: 14px;
  line-height: 1.8;
  font-weight: 400;
}
.footer-adress .logo-nav {
  margin-bottom: 20px;
}
.footer-adress {
  text-align: left;
  padding-top: 60px;
  padding-bottom: 60px;
}
.list-footer {
  margin-top: 20px;
}
.city {
  color: var(--color-main);
}
.info:hover,
.info:focus {
  color: var(--color-accent);
}
.accent-footer {
  color: var(--color-main);
}

/* =============  END FOOTER =========*/

/*----------------- Portfolio-------------------*/

/* ============= PORTFOLIO - HERO  =========*/
.portfolio-container {
  display: flex;
  flex-wrap: wrap;
}
.modal-buttons {
  color: var(--color-title);
  background-color: var(--color-background);
  font-weight: 500;
  font-family: inherit;

  border-radius: 4px;
  min-width: 73px;
  padding: 6px 22px;
  text-align: center;
  border: 0px transparent;
  cursor: pointer;
}
.modal-buttons:hover,
.modal-buttons:focus {
  color: var(--color-main);
  background-color: var(--color-accent);
}
.bits {
  margin-bottom: 56px;
  display: flex;
  justify-content: center;
}
.list-buttons:not(:last-child) {
  margin-right: 8px;
}
/* ============= PORTFOLIO - END HERO  =========*/

/* ============= PORTFOLIO - ABOUT  =========*/
.title-img {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  color: var(--color-title);
  margin: 0;
  padding-bottom: 4px;
  padding-left: 24px;
  padding-right: 24px;
}
.text-img {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.9;
  color: var(--color-text);
  margin: 0;
  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 20px;
}
.link-group-img {
  padding-bottom: 20px;
}
.portfolio-selection {
  background-color: var(--color-main);
  border-top: 1px solid #ececec;
  padding-bottom: 94px;
  padding-top: 94px;
}
.link-group {
  background-color: var(--color-main);
  display: inline-block;
  width: 370px;
  margin-right: 15px;
  margin-bottom: 15px;
  border: 1px solid #eeeeee;
  text-align: start;
}
.link-group:nth-child(3n) {
  margin-right: 0px;
}
.link-group:nth-last-child(-n + 3) {
  margin-bottom: 0;
}
.links:hover,
.links:focus {
  background-color: var(--color-accent);
}

/* ============= PORTFOLIO - END ABOUT  =========*/
